/* 
BEM Style
    block__element--modifier
        .menu {}
        .menu__item {}
        .menu__item--active {} 

margin: top right bottom left;
*/

/* 
    Root var define.
    Var must begin with "--".
*/
:root {
    --primary-color: #1A2E39;
    --secondary-color: #142027;
    --tertiary-color: #142027;;

    --color-red: #FF0000;
    --color-orange: #FF7A00;
    --color-green: #2CDA29;
    --color-purple: #AE46FF;
    --color-yellow: #EECB07;
    --color-blue: #1E88E5;
    --color-cyan: #00BCD4;
    --color-teal: #009688;
    --color-pink: #E91E63;
    --color-indigo: #3F51B5;
    --color-lime: #8BC34A;
    --color-amber: #FFC107;
    --color-brown: #795548;
    --color-gray: #607D8B;
    --color-dark-orange: #FF5722;
    --color-dark-red: #8C0000;
    --color-dark-blue: #0D47A1;
    --color-dark-green: #1B5E20;
    --color-gold: #FFD700;
    --color-silver: #C0C0C0;
    --color-coral: #FF6B6B;
    --color-turquoise: #40E0D0;
    --color-violet: #9C27B0;
    --color-forest: #228B22;
    --color-crimson: #DC143C;
    --color-white: #FFFFFF;
    --color-black: #000000;

    --btn-border-bottom: 0.4em solid;
    --border-radius-main: 0.6em;

    --mosaic-background:
        linear-gradient(45deg, #D4D4D4 25%, transparent 25%),
        linear-gradient(-45deg, #D4D4D4 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #D4D4D4 75%),
        linear-gradient(-45deg, transparent 75%, #D4D4D4 75%);
    --mosaic-size: 30px 30px;
    --mosaic-position: 0 0, 0 15px, 15px -15px, -15px 0px;
}

.mosaic-background {
    background-color: #FFFFFF;
    background-image: var(--mosaic-background);
    background-size: var(--mosaic-size);
    background-position: var(--mosaic-position);
}

/* ========================================= */
.vvd-main-area-top {
    background-color: var(--primary-color);
}

.vvd-main-area-bottom {
    background-color: var(--primary-color);
}

/* ========================================= */
.vvd-slot-area {
    margin: 1em 1em 0.5em 1em;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius-main);
    /* border-bottom: var(--btn-border-bottom);
    border-bottom-color: var(--color-dark-red); */
}

.vvd-slot-button {
    background-color: var(--primary-color);
    border-radius: var(--border-radius-main);
    border-bottom: var(--btn-border-bottom);
    border-bottom-color: var(--color-dark-red);
}

/* .vvd-slot-button:hover, */
.vvd-slot-button:active {
    background-color: inherit;
}

.vvd-window-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    /* -webkit-backdrop-filter: blur(3px); */
    /* backdrop-filter: blur(3px); */
}

.vvd-slot-window {
    background-color: var(--secondary-color);
    /* border-color: var(--color-indigo);
    border-style: solid;
    border-width: .2em; */
    border-radius: var(--border-radius-main);

    /* background-color: var(--color-dark-blue);
    border-color: var(--color-indigo);
    border-style: solid;
    border-width: .2em;
    border-radius: var(--border-radius-main); */
    /* box-shadow: 1.5em 1.5em #000000;  */
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); */
}

.vvd-slot-ctrl-btn {
    /* background-color: var(--primary-color);
    border-radius: var(--border-radius-main);
    margin: 1.0em;
    border-color: var(--color-dark-red);
    border-style: solid;
    border-width: .2em; */
    background-color: var(--secondary-color);
    border-radius: var(--border-radius-main);
    border-bottom: var(--btn-border-bottom);
    border-bottom-color: var(--color-dark-red);
    /* margin: 1.0em; */
    margin: 1.0em 0.5em 1.0em 0.5em;
}

/* ========================================= */
.vvd-delivery-area {
    margin: 1em 1em 0.5em 0.5em;
}

.vvd-delivery-btn-retract {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius-main);
    border-bottom: var(--btn-border-bottom);
    border-bottom-color: var(--color-dark-red);
}

.vvd-delivery-btn-extrude {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius-main);
    border-bottom: var(--btn-border-bottom);
    border-bottom-color: var(--color-dark-red);
}

.vvd-delivery-window {
    background-color: var(--secondary-color);
    /* border-color: var(--color-indigo);
    border-style: solid;
    border-width: .2em; */
    border-radius: var(--border-radius-main);
}

.vvd-delivery-btn {
    background-color: var(--primary-color);
    border-radius: var(--border-radius-main);
    margin: 1.0em;
    border-color: var(--color-dark-red);
    border-style: solid;
    border-width: .2em;
}

/* ========================================= */
.vvd-heat-area {
    margin: 0.5em 0.5em 1em 1em;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius-main);
}

.vvd-heat-btn-temp {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius-main);
    /* margin: 1em 0.5em 0.5em 1em; */
}

.vvd-heat-btn-time {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius-main);
    /* margin: 0.5em 0.5em 1em 1em; */
}

.vvd-heat-btn-temp:active,
.vvd-heat-btn-time:active {
    background-color: inherit;
}

/* ========================================= */
.vvd-filament-area {
    margin: 0.3em 0.5em 1em 0.5em;
}

.vvd-filament-btn-abs {
    background-color: var(--primary-color);
    border-radius: var(--border-radius-main);
    border-bottom: var(--btn-border-bottom);
    border-bottom-color: var(--color-dark-red);
    margin: 1em 0em 0.5em 0.5em;
}

.vvd-filament-btn-asa {
    background-color: var(--primary-color);
    border-radius: var(--border-radius-main);
    border-bottom: var(--btn-border-bottom);
    border-bottom-color: var(--color-dark-red);
    margin: 1em 0.5em 0.5em 1em;
}

.vvd-filament-btn-pla {
    background-color: var(--primary-color);
    border-radius: var(--border-radius-main);
    border-bottom: var(--btn-border-bottom);
    border-bottom-color: var(--color-dark-red);
    margin: 0.5em 0em 1em 0.5em;
}

.vvd-filament-btn-petg {
    background-color: var(--primary-color);
    border-radius: var(--border-radius-main);
    border-bottom: var(--btn-border-bottom);
    border-bottom-color: var(--color-dark-red);
    margin: 0.5em 0.5em 1em 1em;
}

/* ========================================= */
.vvd-mms-area {
    margin: 0.3em 1em 1em 0.5em;
}

.vvd-mms-main-btn {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius-main);
    border-bottom: var(--btn-border-bottom);
    border-bottom-color: var(--color-dark-red);
}

.vvd-mms-window {
    background-color: var(--secondary-color);
    /* border-color: var(--color-indigo);
    border-style: solid;
    border-width: .2em; */
    border-radius: var(--border-radius-main);
}

.vvd-mms-btn {
    background-color: var(--primary-color);
    border-radius: var(--border-radius-main);
    margin: 0.5em;
    padding: 0.5em;
    /* border-bottom: var(--btn-border-bottom);
    border-bottom-color: var(--color-dark-red); */
    border-color: var(--color-dark-red);
    border-style: solid;
    border-width: .2em;
}

/* ========================================= */
.vvd-slotpanel-area-top {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius-main);
    margin: 1em 1em 0.5em 1em;
}

.vvd-slotpanel-area-bottom {
    /* background-color: var(--primary-color);
    border-radius: var(--border-radius-main); */
    margin: 0.5em 1em 1em 1em;
}

.vvd-material-scroll {
    background-color: var(--primary-color);
    border-radius: var(--border-radius-main);
    margin: 1em 0.5em 1em 1em;
    padding: 0.5em;
}

.vvd-material-scroll-btn {
    background-color: var(--primary-color);
    border-left: var(--btn-border-bottom);
    /* border-left-color: var(--color-dark-red); */
    border-left-color: var(--primary-color);
    margin-right: 1em;
    padding-left: 0.5em;
}

.vvd-material-scroll-btn:active {
    background-color: inherit;
}

.vvd-color-palette {
    background-color: var(--primary-color);
    border-radius: var(--border-radius-main);
    margin: 1em 1em 1em 0.5em;
}

.vvd-color-btn {
    background-color: var(--color-white);
    border-radius: var(--border-radius-main);
    margin: 0.25em;
}

/* ========================================= */
.vvd-preprint-area-top {
    background-color: var(--primary-color);
}

.vvd-preprint-area-bottom {
    background-color: var(--primary-color);
}

.vvd-preprint-area-slot {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius-main);
    margin: 1em 1em 0.5em 1em;
}

.vvd-preprint-btn-slot {
    background-color: var(--primary-color);
    border-radius: var(--border-radius-main);
    border-bottom: var(--btn-border-bottom);
    border-bottom-color: var(--color-dark-red);
    margin: 0.5em;
}

.vvd-preprint-btn-slot:active {
    background-color: inherit;
}

.vvd-preprint-filament-box {
    background-color: var(--primary-color);
    border-radius: var(--border-radius-main);
    margin: 0.5em;
}

.vvd-preprint-filament-box-na {
    background-color: #FFFFFF;
    background-image: var(--mosaic-background);
    background-size: var(--mosaic-size);
    background-position: var(--mosaic-position);
    border-radius: var(--border-radius-main);
    margin: 0.5em;
}

.vvd-preprint-area-ctrl {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius-main);
    margin: 0.5em 1em 1em 1em;
}

.vvd-preprint-btn-ctrl {
    background-color: var(--primary-color);
    border-radius: var(--border-radius-main);
    border-bottom: var(--btn-border-bottom);
    border-bottom-color: var(--color-dark-red);
    margin: 1em;
}

.vvd-preprint-btn-ctrl:active {
    background-color: var(--color-orange);
}
